Data Importing

In [24]:
import pandas as pd
import os

DS = pd.read_csv(r"C:\Users\Sudeep nellur\Desktop\Datasets\data_preprocessing\Data.csv")
x = DS.iloc[:,1:-1].values #[row,column] (.values) to take the all values
y = DS.iloc[:,3].values

In [25]:
print(DS.iloc[3:5,0:-1]) #pratcise

   Country   Age   Salary
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [26]:
DS.head(10) #display the content

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Missing Data

In [27]:
df = pd.DataFrame(DS) 
df.mean()
df = df.fillna(df.mean())

In [28]:
df.median()
df.fillna(df.median())

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

Categorial Data (Encoding)

In [29]:
from sklearn import preprocessing

In [30]:
lb = preprocessing.LabelEncoder() #labelencoder does encode a single to single array int

In [31]:
df["Country"] = lb.fit_transform(df["Country"])
df["Country"].unique

<bound method Series.unique of 0    0
1    2
2    1
3    2
4    1
5    0
6    2
7    0
8    1
9    0
Name: Country, dtype: int32>

In [32]:
df["Purchased"] = lb.fit_transform(df["Purchased"])
df["Purchased"].unique

<bound method Series.unique of 0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int32>

Using the pandas for encoding.

In [33]:
pd.get_dummies(DS['Country'])

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [34]:
pd.get_dummies(DS['Purchased'])

   No  Yes
0   1    0
1   0    1
2   1    0
3   1    0
4   0    1
5   0    1
6   1    0
7   0    1
8   1    0
9   0    1

Spliting the Datasets

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)

Feature Scaling

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler()

In [39]:
xTrain = scaler.fit_transform(xTrain)
xTest = scaler.fit_transform(xTest)

In [ ]:
import tensorflow