In [4]:
import numpy as np
import pandas as pd

In [5]:
ds = pd.read_csv("train.csv")

In [6]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
ds.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [8]:
x = ds.iloc[:,[6,7,8,9,10]]

In [9]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,NaN,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0
610,4106,0.0,40.0,180.0,1.0
611,8072,240.0,253.0,360.0,1.0
612,7583,0.0,187.0,360.0,1.0
613,4583,0.0,133.0,360.0,0.0

In [10]:
x["LoanAmount"].fillna(0, inplace = True)

c:\users\sudeep nellur\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [11]:
x["Loan_Amount_Term"].fillna(0, inplace = True)

In [12]:
x["Credit_History"].fillna(0, inplace = True)

In [13]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,0.0,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.0,360.0,1.0
610,4106,0.0,40.0,180.0,1.0
611,8072,240.0,253.0,360.0,1.0
612,7583,0.0,187.0,360.0,1.0
613,4583,0.0,133.0,360.0,0.0

In [14]:
y = ds.iloc[:,-1]

In [15]:
y

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [16]:
from sklearn.model_selection import train_test_split as tts
xtrain, xtest, ytrain, ytest = tts(x, y, test_size = 0.25, random_state = 0)

In [17]:
from sklearn.preprocessing import StandardScaler as ss

xtrain = ss().fit_transform(xtrain)
xtest =  ss().fit_transform(xtest)

In [18]:
from xgboost import XGBClassifier as xgb

In [19]:
classifier = xgb()

In [20]:
classifier.fit(xtrain, ytrain)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [21]:
from sklearn.linear_model import LogisticRegression as lr

In [22]:
classifier = lr(random_state = 0)

In [23]:
classifier.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
ypred = classifier.predict(xtest)

In [25]:
from sklearn.metrics import confusion_matrix as cm
cm = cm(ytest, ypred)

In [26]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]

def correctness(TN,FP,FN,TP):
    Accuracy = (TP + TN) / (TP + TN + FP + FN) * 100
    Precision = TP / (TP + FP) * 100
    Recall = TP / (TP + FN) * 100
    F1_Score = 2 * Precision * Recall / (Precision + Recall)
    
    print("accuracy is:",int(Accuracy),"%")
    print("Precision is:",int(Precision),"%")
    print("Recall is:",int(Recall),"%")
    print("F1_Score is:",int(F1_Score),"%")
    
correctness(TN,FP,FN,TP)

accuracy is: 79 %
Precision is: 83 %
Recall is: 90 %
F1_Score is: 86 %

In [27]:
from sklearn.neighbors import KNeighborsClassifier as knc

In [28]:
classifier = knc(n_neighbors = 5, metric = "minkowski", p = 2)

In [29]:
classifier.fit(xtrain, ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [30]:
ypred = classifier.predict(xtest)

In [31]:
from sklearn.metrics import confusion_matrix as cm

In [32]:
cm = cm(ytest, ypred)

In [33]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]

def correctness(TN,FP,FN,TP):
    Accuracy = (TP + TN) / (TP + TN + FP + FN) * 100
    Precision = TP / (TP + FP) * 100
    Recall = TP / (TP + FN) * 100
    F1_Score = 2 * Precision * Recall / (Precision + Recall)
    
    print("accuracy is:",int(Accuracy),"%")
    print("Precision is:",int(Precision),"%")
    print("Recall is:",int(Recall),"%")
    print("F1_Score is:",int(F1_Score),"%")
    
correctness(TN,FP,FN,TP)

accuracy is: 76 %
Precision is: 82 %
Recall is: 86 %
F1_Score is: 84 %

In [34]:
from sklearn.naive_bayes import GaussianNB as NB

In [35]:
classifier = NB()

In [36]:
classifier.fit(xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [37]:
ypred = classifier.predict(xtest)

In [38]:
from sklearn.metrics import confusion_matrix as cm

cm = cm(ytest, ypred)

In [39]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]

def correctness(TN,FP,FN,TP):
    Accuracy = (TP + TN) / (TP + TN + FP + FN) * 100
    Precision = TP / (TP + FP) * 100
    Recall = TP / (TP + FN) * 100
    F1_Score = 2 * Precision * Recall / (Precision + Recall)
    
    print("accuracy is:",int(Accuracy),"%")
    print("Precision is:",int(Precision),"%")
    print("Recall is:",int(Recall),"%")
    print("F1_Score is:",int(F1_Score),"%")
    
correctness(TN,FP,FN,TP)

accuracy is: 78 %
Precision is: 83 %
Recall is: 88 %
F1_Score is: 85 %